@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100vh;
}

body {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Layout */

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    background: blue;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    background: white;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 20px 30px;
    row-gap: 20px;
}

.main-content {
    background: green;

    display: grid;
    grid-template-columns: 3fr 1fr;
    /* Look into this later for main layout */
    /* grid-template-rows: 1fr 1fr; */
    padding: 30px;
}

/* Nav */

.sidebar div {
    padding: 20px;
}

.dash-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.primary-nav {
    margin-bottom: 2.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

/* Header */

.search-bar input {
    height: 2rem;
    width: 75%;
    font-size: 100%;
    border: none;
    outline-color: blueviolet;
    border-radius: 50px;
    padding-left: 1rem;
    background: rgb(214, 214, 214);
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.action-buttons button {
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    color: white;
    background: rgba(0, 162, 255, 0.76);
    font-weight: bold;
    cursor: pointer;
}

.user-login {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    gap: 20px;
}

.user-greeting {
    display: grid;
    /* change this later once assets for avatar obtained */
    grid-template-columns: auto 1fr;
}

.greeting-avatar {
    grid-row: 1 / 3;
    background: hotpink;
}

/* Main */

/* Your Projects */

.projects {
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.project-header {
    grid-column: 1 / -1;
}

.project-card {
    background: white;
    border-left: 8px solid orange;
    border-radius: 8px;
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.project-card-buttons {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    justify-items: end;
    align-items: end;
    gap: 10px;
}

/* Announcements */

.announcements {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    padding-left: 20px;
}

.announcements-container {
    background: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.announcements-item {
    display: grid;
    align-items: center;
    padding: 1rem 0;
}

.announcements-item:nth-child(2) {
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
}

/* Trending */

.trending {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    padding-left: 20px;
    padding-top: 30px;
}

.trending-container {
    background: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;

    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, auto);
}

.trending-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.trending-user-avatar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.trending-user,
.trending-project-name {
    grid-column: 2 / 3;
}

